@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 120rem;
  margin: 0 auto;
}

.section-header {
  text-align: center;
}

.heading-h1 {
  font-size: clamp(3rem, 5vw, 6rem);
}

.heading-h2 {
  font-weight: 100;
  font-size: clamp(3rem, 1vw, 5rem);
}

.heading-h3 {
  margin: 0;
  font-weight: 100;
  font-size: clamp(2rem, 1vw, 3rem);
}

.lead {
  font-size: clamp(1.8rem, 1vw, 2rem);
  margin-bottom: 3rem;
}

.reverse {
  flex-flow: row-reverse wrap;
}

.col-2 {
  flex: 1 1 50rem;
}

.header {
  font-size: 1.6rem;
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  width: 90%;
  margin: 0 auto;
}
.header__nav ul {
  display: flex;
}
.header__nav ul li {
  margin: 2rem;
}
.header__nav ul li a {
  text-transform: capitalize;
  color: #000;
}
.header__logo img {
  width: 7rem;
}
.header .btn {
  display: inline-block;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  border-radius: 5px;
  text-transform: uppercase;
  color: #f7941e;
  background: transparent;
  border: 1px solid #f7941e;
}

.hero {
  background: #f1f1f2;
}
.hero__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__text .content {
  padding: 0 3rem;
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 63.5em) {
  .hero__text .content {
    padding: 5rem 3rem;
  }
}
.hero .d-flex-layout {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}
.hero .btn {
  display: inline-block;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  background: #f7941e;
}

.feature {
  background: #f1f1f2;
}
.feature__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature__text .content {
  padding: 0 3rem;
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 63.5em) {
  .feature__text .content {
    padding: 5rem 3rem;
  }
}
.feature .d-flex-layout {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}
.feature .btn {
  display: inline-block;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  border-radius: 5px;
  text-transform: uppercase;
  color: #f7941e;
  background: transparent;
  border: 1px solid #f7941e;
}

.post {
  padding: 6rem 0;
}
.post .d-flex-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (min-width: 48em) {
  .post .d-flex-layout {
    justify-content: space-between;
  }
}
.post__blog {
  background: #fff;
  padding: 1rem;
  width: 100%;
}
@media only screen and (min-width: 48em) and (max-width: 64em) {
  .post__blog {
    width: 50%;
  }
}
@media only screen and (min-width: 40em) and (max-width: 48em) {
  .post__blog {
    width: 50%;
  }
}
@media only screen and (min-width: 64em) {
  .post__blog {
    width: 25%;
  }
}
.post__text {
  background: #fafafa;
  height: 20rem;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}
.post__text:hover {
  box-shadow: 1px 0px 9px 0px #888888;
}
.post__link {
  color: #000;
  font-size: 1.6rem;
  text-transform: capitalize;
}

/*# sourceMappingURL=style.css.map */
