@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 153rem;
  margin: 0 auto;
}

.section-header {
  text-align: center;
}

.heading-h1 {
  font-size: clamp(3rem, 5vw, 6rem);
}

.heading-h2 {
  font-weight: 100;
  font-size: clamp(3rem, 1vw, 5rem);
}

.heading-h3 {
  margin: 0;
  font-weight: 100;
  font-size: clamp(2rem, 1vw, 3rem);
}

.heading-h4 {
  margin: 2rem 0;
  font-weight: 100;
  font-size: clamp(1.8rem, 2.5vw, 7rem);
}

.lead {
  font-size: clamp(1.8rem, 1vw, 2rem);
  margin-bottom: 3rem;
}

.reverse {
  flex-flow: row-reverse wrap;
}

.col-2 {
  flex: 1 1 50rem;
}

.header {
  font-size: 1.6rem;
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  width: 90%;
  margin: 0 auto;
}
.header__nav ul {
  display: flex;
}
.header__nav ul li {
  margin: 2rem;
}
.header__nav ul li a {
  text-transform: capitalize;
  color: #000;
}
.header__logo img {
  width: 7rem;
}
.header__button .btn {
  display: inline-block;
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  padding: 1rem 3rem;
  border-radius: 5px;
  text-transform: uppercase;
  color: #f7941e;
  background: transparent;
  border: 1px solid #f7941e;
}

.hero {
  background: #f1f1f2;
}
.hero__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__text .content {
  padding: 0 3rem;
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 63.5em) {
  .hero__text .content {
    padding: 5rem 3rem;
  }
}
.hero .d-flex-layout {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}
.hero .btn {
  display: inline-block;
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  padding: 1rem 3rem;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  background: #f7941e;
}

.feature {
  background: #f1f1f2;
}
.feature__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature__text .content {
  padding: 0 3rem;
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 63.5em) {
  .feature__text .content {
    padding: 5rem 3rem;
  }
}
.feature .d-flex-layout {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}
.feature .btn {
  display: inline-block;
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  padding: 1rem 3rem;
  border-radius: 5px;
  text-transform: uppercase;
  color: #f7941e;
  background: transparent;
  border: 1px solid #f7941e;
}

.post {
  padding: 6rem 0;
}
.post .d-flex-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (min-width: 48em) {
  .post .d-flex-layout {
    justify-content: space-between;
  }
}
.post__blog {
  background: #fff;
  padding: 1rem;
  width: 100%;
}
@media only screen and (min-width: 48em) and (max-width: 64em) {
  .post__blog {
    width: 50%;
  }
}
@media only screen and (min-width: 40em) and (max-width: 48em) {
  .post__blog {
    width: 50%;
  }
}
@media only screen and (min-width: 64em) {
  .post__blog {
    width: 25%;
  }
}
.post__text {
  background: #fafafa;
  height: 20rem;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}
.post__text:hover {
  box-shadow: 1px 0px 9px 0px #888888;
}
.post__link {
  color: #000;
  font-size: 1.6rem;
  text-transform: capitalize;
}

.cta {
  padding: 5rem;
  background-color: #f7941e;
}
.cta .d-flex-layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media only screen and (min-width: 48em) {
  .cta .d-flex-layout {
    justify-content: space-between;
  }
}
.cta .heading-h3 {
  margin-top: 2rem;
  font-weight: 600;
  font-size: clamp(2.5em, 2vw, 3.2rem);
}
.cta .lead {
  margin-top: 0;
  font-size: clamp(2.5rem, 2vw, 3.2rem);
}
.cta__btn .btn {
  display: inline-block;
  margin-right: 0.652rem;
  margin-bottom: 1rem;
}
.cta__btn .btn:nth-child(1) {
  display: inline-block;
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  padding: 1rem 3rem;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  background: #231f20;
}
.cta__btn .btn:nth-child(2) {
  display: inline-block;
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  padding: 1rem 3rem;
  border-radius: 5px;
  text-transform: uppercase;
  color: #231f20;
  background: transparent;
  border: 1px solid #231f20;
}

.blog {
  padding: 5rem 0;
}
@media only screen and (min-width: 48em) {
  .blog .d-flex-layout {
    display: flex;
  }
}
@media only screen and (min-width: 48em) and (max-width: 64em) {
  .blog .col {
    flex: 1;
  }
}
.blog__featured-img {
  flex: 1 1 30%;
}
.blog__author {
  font-size: clamp(1rem, 4vw, 1.4rem);
}
.blog__content {
  color: #fff;
  background: #231f20;
  flex: 1 1 70%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 48em) {
  .blog__content {
    padding: 3rem 0;
  }
}
.blog__content .text {
  width: 47%;
  margin: auto 5rem auto;
}
.blog__content .text a {
  color: #fff;
  text-transform: capitalize;
  font-size: clamp(1rem, 4vw, 1.4rem);
}
.blog__post {
  flex: 1 calc(100% / 2 - 1.5rem);
  padding: 4rem 6rem;
  margin-top: 4rem;
}
@media only screen and (min-width: 48em) {
  .blog__post {
    transform: scale(0.9);
  }
}
.blog__post .heading-h4 {
  font-weight: 600;
  font-size: clamp(1.8rem, 2.5vw, 3rem);
}
.blog__post:nth-child(1) {
  box-shadow: 2px 5px 5px 0px rgba(136, 136, 136, 0.43);
}

/*# sourceMappingURL=style.css.map */
