@use '../layouts/' as flex;
@use '../abstract/' as mediaquery;

.blog {
  padding: 5rem 0;

  // @include flex.dove-flex-layout("col");

  .d-flex-layout {
    // flex-wrap: wrap;
    @include mediaquery.respond(ipad) {
      display: flex;
    }
  }

  .col {
    @include mediaquery.respond(ipad-min-max) {
      flex: 1;
    }
  }

  &__featured-img {
    flex: 1 1 30%;
  }

  &__author {
    font-size: clamp(1rem, 4vw, 1.4rem);
  }

  &__content {
    color: #fff;
    background: #231f20;
    flex: 1 1 70%;
    display: flex;
    align-items: center;

    @include mediaquery.respond(max-ipad) {
      padding: 3rem 0;
    }

    .text {
      width: 47%;
      margin: auto 5rem auto;
      a {
        color: #fff;
        // text-transform: capitalize;
        // font-size: clamp(1rem, 4vw, 1.4rem);
      }
    }
  }

  &__post {
    flex: 1 calc(100% / 2 - 1.5rem);
    padding: 4rem;
    margin-top: 4rem;

    @include mediaquery.respond(ipad) {
      transform: scale(0.9);
      padding: 4rem 6rem;
    }
    .heading-h4 {
      font-weight: 600;
      font-size: clamp(1.8rem, 2.5vw, 3rem);
    }

    &:nth-child(1) {
      box-shadow: 2px 5px 5px 0px rgb(136 136 136 / 43%);
    }
    a {
      color: #000;
    }
  }

  a {
    text-transform: capitalize;
    font-size: clamp(1rem, 4vw, 1.6rem);
  }
}
