@use '../components/' as btn;

.header {
  font-size: 1.6rem;
  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    width: 90%;
    margin: 0 auto;

    ul {
      display: flex;
      li {
        margin: 2rem;
        a {
          text-transform: capitalize;
          color: #000;
        }
      }
    }
  }

  &__logo {
    img {
      width: 7rem;
    }
  }

  &__button {
    .btn {
      @include btn.btn-style("orange-bordered");
    }
  }
}
