@use '../abstract/' as var;

@mixin btnStyle($bg) {
  .btn {
    display: inline-block;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    text-transform: uppercase;
    @if ($bg == "orange-bordered") {
      color: var.$primary-color;
      background: transparent;
      border: 1px solid var.$primary-color;
    } @else if($bg == "orange") {
      color: #fff;
      background: var.$primary-color;
    }

    @if ($bg == "black-bordered") {
      color: var.$secondary-color;
      background: transparent;
      border: 1px solid var.$secondary-color;
    } @else if($bg == "black") {
      color: #fff;
      background: var.$secondary-color;
    }
  }
}
