@use '../abstract/' as mediaquery;

@mixin dove-flex-layout($col) {
  .d-flex-layout {
    display: flex;
    flex-wrap: wrap;
    @if ($col== "col") {
      display: flex;
      flex-wrap: wrap;
    } @else if($col== "col-2") {
      align-items: center;
      @include mediaquery.respond(ipad) {
        justify-content: space-between;
      }
    } @else if($col== "col-4") {
      justify-content: center;

      @include mediaquery.respond(ipad) {
        justify-content: space-between;
      }
    }
  }
}

.reverse {
  flex-flow: row-reverse wrap;
}

.col-2 {
  flex: 1 1 50rem;
}
